* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lobster', cursive;
  text-align: center;
}

/* utilities */
.pd-10 {
  padding: 10px 20px;
}

.txt-bold {
  font-weight: bold;
}

.txt-sm {
  font-size: 0.8rem;
  font-style: italic;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.main {
  width: 375px;
  height: 375px;
  background-color: #0a0a23;
  text-align: center;
}

.avatar {
  width: 373px;
  height: 373px;
}

.section-one {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
}

#avatar-el {
  width: 34px;
  height: 34px;
  margin-right: 5px;
  border: 1px solid black;
}

.icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  border: 1px solid black;
}

.like {
  font-family: 'Roboto', sans-serif;  
}

.comments {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3px;
  font-family: 'Roboto', sans-serif;
}